numpy==1.15.1
Cython==0.29.6
pyOpenSSL==19.0.0
click==7.0
cryptography==2.6.1
Flask==1.0.2
protobuf==3.7.0
ipaddr==2.2.0
lxml==4.3.2
mock==2.0.0
ndg_httpsclient==0.5.1
pyasn1==0.4.5
pytest==4.3.1
redis==3.2.1
setuptools_svn==1.2
simplejson==3.16.0
Werkzeug==0.14.1
wincertstore==0.2
python==3.6
